<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/css/resultstyle.css">
            <title>RESULTADO ELEIÇÃO - 2024</title>
        </head>
        <body>
            <header>
                <div class="cabecalho">
                    <div class="logo">
                        <img src="/imgs/Logo2(FundoTransparente-Cabecalho-Logo-Escrita).webp" alt="">
                    </div>
                    <div class="headerSocial">
                        <ul class="headerSocial-links">
                            <a class="gitHub" href="https://github.com/LucasLiSan/eleicaoPingodeGente"><li>github</li></a>
                            <a class="instagram" href="https://www.instagram.com/lukastopo/"><li>instagram</li></a>
                            <a class="whatsapp" href="https://wa.me/1338225152?text=Olá%20É%20da%20EMEB%20Pingo%de%20Gente"><li>whatsapp</li></a>
                        </ul>
                    </div>
                </div>
                <nav>
                    <input type="radio" name="optAnalysis" id="general" value="geral">
                    <label for="general">GERAL</label>
                    <input type="radio" name="optAnalysis" id="analysis" value="analise">
                    <label for="analysis">ANALISE POR SALA</label>
                </nav>
            </header>
            <main>
                <section class="general"> 
                    <h1>CANDIDATO</h1>
                    <div class="apuracao">
                        <span><span class="percent"><%= (urnasApuradas).toFixed(2) %>%</span> URNAS APURADAS</span>
                        <progress value="<%= urnasApuradas %>" max="100"></progress>
                    </div>
                    <div class="absentee-votes">
                        <div class="votesTotal">
                            <span class="votesPercent"><%= ((totalVotantes / totalEleitores) * 100).toFixed(2) %>%</span>
                            <label for="votesPercent">VOTANTES</label>
                        </div>
                        <div class="absentee">
                            <span class="absenteePercent"><%= ((totalAusentes / totalEleitores) * 100).toFixed(2) %>%</span>
                            <label for="absenteePercent">AUSENTES</label>
                        </div>
                    </div>
                
                    <div class="candidates"> 
                        <div class="moreVotes">
                            <div id="first">
                                <figure class="img-first">
                                    <img src="<%= firstCandidate.candidatePic %>" alt="Candidato-1">
                                    <figcaption>1º LUGAR</figcaption>
                                </figure>
                                <div class="name-party">
                                    <input type="text" id="candidato-First" value="<%= firstCandidate.name.toUpperCase() %>" disabled>
                                    <input type="text" id="party-First" value="<%= firstCandidate.party %>" disabled>
                                </div>
                                <div class="votesCandidate">
                                    <span class="percentVotes"><%= ((firstCandidate.votes / totalValidVotes) * 100).toFixed(2)  %>%</span>
                                    <input type="number" id="qtdVotes1" value="<%= firstCandidate.votes %>" disabled>
                                </div>
                            </div>
                            <div id="second">
                                <figure class="img-second">
                                    <img src="<%= secondCandidate.candidatePic %>" alt="Candidato-2">
                                    <figcaption>2º LUGAR</figcaption>
                                </figure>
                                <div class="name-party">
                                    <input type="text" id="candidato-Second" value="<%= secondCandidate.name.toUpperCase() %>" disabled>
                                    <input type="text" id="party-Second" value="<%= secondCandidate.party %>" disabled>
                                </div>
                                <div class="votesCandidate">
                                    <span class="percentVotes"><%= ((secondCandidate.votes / totalValidVotes) * 100).toFixed(2) %>%</span>
                                    <input type="number" id="qtdVotes2" value="<%= secondCandidate.votes %>" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="lessVotes">
                            <div id="third">
                                <figure class="img-third">
                                    <img src="<%= thirdCandidate.candidatePic %>" alt="Candidato-3">
                                    <figcaption>3º LUGAR</figcaption>
                                </figure>
                                <div class="name-party">
                                    <input type="text" id="candidato-Third" value="<%= thirdCandidate.name.toUpperCase() %>" disabled>
                                    <input type="text" id="party-Third" value="<%= thirdCandidate.party %>" disabled>
                                </div>
                                <div class="votesCandidate">
                                    <span class="percentVotes"><%= ((thirdCandidate.votes / totalValidVotes) * 100).toFixed(2) %>%</span>
                                    <input type="number" id="qtdVotes3" value="<%= thirdCandidate.votes %>" disabled>
                                </div>
                            </div>
                            <div id="fourth">
                                <figure class="img-fourth">
                                    <img src="<%= fourthCandidate.candidatePic %>" alt="Candidato-4">
                                    <figcaption>4º LUGAR</figcaption>
                                </figure>
                                <div class="name-party">
                                    <input type="text" id="candidato-Fourth" value="<%= fourthCandidate.name.toUpperCase() %>" disabled>
                                    <input type="text" id="party-Fourth" value="<%= fourthCandidate.party %>" disabled>
                                </div>
                                <div class="votesCandidate">
                                    <span class="percentVotes"><%= ((fourthCandidate.votes / totalValidVotes) * 100).toFixed(2) %>%</span>
                                    <input type="number" id="qtdVotes4" value="<%= fourthCandidate.votes %>" disabled>
                                </div>
                            </div>
                            <div id="fifth">
                                <figure class="img-fifth">
                                    <img src="<%= fifthCandidate.candidatePic %>" alt="Candidato-5">
                                    <figcaption>5º LUGAR</figcaption>
                                </figure>
                                <div class="name-party">
                                    <input type="text" id="candidato-Fifth" value="<%= fifthCandidate.name.toUpperCase() %>" disabled>
                                    <input type="text" id="party-Fifth" value="<%= fifthCandidate.party %>" disabled>
                                </div>
                                <div class="votesCandidate">
                                    <span class="percentVotes"><%= ((fifthCandidate.votes / totalValidVotes) * 100).toFixed(2) %>%</span>
                                    <input type="number" id="qtdVotes5" value="<%= fifthCandidate.votes %>" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="voteAnalysis">
                        <div class="blank">
                            <span class="percentVotes"><%= (votosBrancos / totalVotes * 100).toFixed(2) %>%</span>
                            <input type="number" name="votes" id="qtdVotesBlank" value="<%= votosBrancos %>" disabled>
                            <label for="qtdVotesBlank">VOTOS EM BRANCO</label>
                        </div>
                        <div class="nulls">
                            <span class="percentVotes"><%= (votosNulos / totalVotes * 100).toFixed(2) %>%</span>
                            <input type="number" name="votes" id="qtdVotesNull" value="<%= votosNulos %>" disabled>
                            <label for="qtdVotesNull">VOTOS NULOS</label>
                        </div>
                        <div class="valids">
                            <span class="percentVotes"><%= (totalValidVotes / totalVotes * 100).toFixed(2) %>%</span>
                            <input type="number" name="votes" id="qtdVotesValids" value="<%= totalValidVotes %>" disabled>
                            <label for="qtdVotesValids">VOTOS VÁLIDOS</label>
                        </div>
                    </div>
                </section>                
                <section class="analysis">
                    <% const roomNames = { 1: 'JARDIM 2-A', 2: '1º ANO-A', 3: '2º ANO-A', 4: '3º ANO-A', 5: '4º ANO-A' }; %>
                    <% const roomVoters = { 1: 17, 2: 15, 3: 14, 4: 20, 5: 20 }; %>
                
                    <% Object.keys(roomNames).forEach(room => { 
                        const topCandidatesRoom = getTopCandidatesByRoom(room); %>
                        <div class="sala<%= room %>">
                            <h2><%= roomNames[room] %></h2>
                            <span class="sectionUrnasApuradas">100% das urnas apuradas</span>
                            <span class="qtdEleitores"><%= roomVoters[room] %> eleitores</span>
                
                            <div class="tableResults">
                                <% topCandidatesRoom.forEach(candidate => { %>
                                    <span class="candidateName"><%= candidate.name %></span>
                                    <span class="partyName"><%= candidate.party %></span>
                                    <span class="qtdVotesRoom"><%= candidate.votes %> votos</span>
                                    <span class="percentVotesRoom"><%= (candidate.votes / roomVoters[room] * 100).toFixed(2) %>%</span>
                                <% }); %>
                            </div>
                
                            <div class="othersVotes">
                                <span class="blankVotesRoom">BRANCOS:</span>
                                <span class="qtdBlankVotesRoom"><%= votosBrancos %></span>
                                <span class="percentVotesRoom">(<%= ((votosBrancos / roomVoters[room]) * 100).toFixed(2) %>)</span>
                                
                                <span class="nullVotesRoom">NULOS:</span>
                                <span class="qtdNullVotesRoom"><%= votosNulosPorSala[room] || 0 %></span>
                                <span class="percentVotesRoom">(<%= ((votosNulosPorSala[room] || 0) / roomVoters[room] * 100).toFixed(2) %>)</span>
                                
                                <span class="missVotesRoom">FALTAS:</span>
                                <span class="qtdMissVotesRoom"><%= roomVoters[room] - (topCandidatesRoom.reduce((sum, c) => sum + c.votes, 0) + votosBrancos + (votosNulosPorSala[room] || 0)) %></span>
                                <span class="percentVotesRoom">(<%= ((roomVoters[room] - (topCandidatesRoom.reduce((sum, c) => sum + c.votes, 0) + votosBrancos + (votosNulosPorSala[room] || 0))) / roomVoters[room] * 100).toFixed(2) %>)</span>
                            </div>
                        </div>
                    <% }); %>
                </section>
            </main>
            <footer>
                <div class="infos">
                    <p class="project">Para simular uma eleição nos mesmos moldes de uma eleição real para o "Projeto eleição" na EMEB Pingo de Gente, foi elaborada uma urna eletrônica seguindo os padrões do urna eletrônica brasileira e, para os resultados, esta pagina para acompanhar a apuração de votos.</p>
                    <div class="urnaAviso">
                        <h3><a href="https://www.justicaeleitoral.jus.br/urna-eletronica/"> URNA ELETRÔNICA DO BRASIL</a></h3>
                        <p>O sistema de votação eletrônico brasileiro permite o exercício da cidadania com maior segurança. A urna foi desenvolvida para computar votos de forma segura e sigilosa, atendendo à demanda e às características específicas do Brasil.</p>
                    </div>
                </div>
                <div class="footerSocial">
                    <ul class="footerSocial-links">
                        <a class="gitHub" href="https://github.com/LucasLiSan/eleicaoPingodeGente"><li>github</li></a>
                        <a class="instagram" href="https://www.instagram.com/lukastopo/"><li>instagram</li></a>
                        <a class="whatsapp" href="https://wa.me/1338225152?text=Olá%20É%20da%20EMEB%20Pingo%de%20Gente"><li>whatsapp</li></a>
                    </ul>
                </div>
            </footer>
        </body>
        <script src="js/resultscript.js"></script>
    </html>